<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="mini_delta_controller" type="system">

    <hardware>
      <!-- <plugin>mock_components/GenericSystem</plugin> -->
      <param name="calculate_dynamics">true</param> 
     <plugin>mini_delta_hardware/MiniDeltaHardwareInterface</plugin>
     <!-- <plugin>delta_stepper_hw/DeltaStepperHardware</plugin> -->
    </hardware>

    <joint name="link_0_JOINT_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="link_0_JOINT_2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="link_0_JOINT_3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
  </ros2_control>

</robot>
